@font-face {
    font-family: "Halo";
    src: url("font/Halo.ttf");
  }

  body {
    font-family: "Halo";
  }

#header-img {
    width: 100px;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

main {
    margin-top: 100px;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        justify-content: center;
    }
    .flex-item {
        
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-right: 0px !important;
        margin-left: 0px !important;
        align-self: center;
    }
    #video {
        width: 350px;
        height: 200px;
    }
    .caracteristicas{
        margin-right: 10px !important;
        margin-left: 10px !important;
        align-self: center;
    }
    .material-icons{
        display: none !important;
    }
}

body {
    text-align: center;
    background-color: #eee;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    font-size: 20px !important;
}
.navbar-collapse{
    place-content: center !important;
}
.material-icons{
    font-size: 150px !important;
    margin-left: 100px;
}
.caracteristicas{
    text-align: left;
    margin-right: 50px;
}
ul{
    list-style: none;
}
h2{
    text-align: center;
}
p{
    font-family: "Halo";
}
h1, h2,h3{
    font-family: "Halo";
}
footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

.logo {
font-family: "Halo";
}